$grey: #BFBFBF;
@mixin textStyle {
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;        
}




body{
    font-family: 'Poppins';   
 }


 
 /* header*/



.wrapper{
    width: 1920px;
    margin: 0 auto;
    max-width: 1920px;
    background: #FCFCFC;
    .header{
        padding-top: 32px;
        padding-bottom: 32px;
        width: 1820px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .logo{
            margin-left: -4px;            
        }
        nav ul{
            width: 1465px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            .item-first{
                text-decoration: none;
                font-weight: 600;
                font-size: 30px;
                line-height: 45px;
                color: #0F0F0F;
                align-items: center;
                }
            .holder-items{
                display: grid;
                grid-template-columns: 56px 129px;
                grid-template-rows: 28px  28px;
                column-gap: 26px;                    
                .holder{
                    width: 56px;
                    height: 56px;
                    background: #C4C4C4;
                    border-radius: 22px;
                }
                .user-name{
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;                      
                    color: #2E2E2E;
                    margin-top: 3px;
                }
                .user-position{
                    grid-row: 2;
                    grid-column: 2;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    color: #2E2E2E;
                    text-decoration: none;
                    margin-top: 4px;
                    }
            }
        }
     }        
}



/*section main*/ 



.main{
    width: 1820px;
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    .left-items{
        position: relative;
        margin-left: -9px;
        .btn-left{
            background: linear-gradient(83.26deg, #1362FC 17.33%, #13A8FC 98.93%);
            border-radius: 22px;
            width: 263px;
            height: 68px;          
            border: none;
            position: relative;
            z-index: 1;      
            @include textStyle();
            transition: 0.8s;
            span{
                padding-right: 42px;                
            }
        }
        .shodow{
            width: 179px;
            height: 64px;
            background: linear-gradient(83.26deg, #1362FC 17.33%, #13A8FC 98.93%);
            box-shadow: 0px 12px 28px rgba(19, 98, 252, 0.37);
            border-radius: 22px;
            position: absolute;
            top: 0;
            left: calc(50% - 88px);
            z-index: 0;
        }
        .reservas{
            margin-top: 16px;
            padding: 26px 72px 26px 37px;
            img{
                padding-right: 41px;
            }
            a{
                @include textStyle();
                font-weight: 500;
                color: $grey;
                text-decoration: none;
                transition: 0.8s;
            }
        }
        .btn-left:hover{
            color: #000;
        }
        a:hover{
            color: #000;
        }

    }
    .righ-items{
        width: 1745px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .btn-rigth{
            width: 1473px;
            display: flex;
            justify-content: space-between;
            .cart-btn{
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
                border: none;
                border-radius: 22px;
                padding:38px 36px 36px 36px;
                    .titile{
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 54px;
                    color: #FFFFFF;
                    text-align: left;
                    }
                    img{
                        margin-left: calc(255px - 36px);
                        margin-top: -39px;
                    }
                    .subtitle{
                        @include textStyle();
                        font-weight: 500;
                        text-align: left;
                        margin-top: -8px;
                        transition: 0.8s;
                    }
                }  
            .cart-btn:hover .subtitle{
                color: #000;
            }
            .cart-btn:nth-child(1){
                background: linear-gradient(77.21deg, #59BCFF 47.6%, #59D7FF 107%);
            }
            .cart-btn:nth-child(2){
                background: linear-gradient(77.21deg, #4AD994 47.6%, #57F998 107%);
            }
            .cart-btn:nth-child(3){
                background: linear-gradient(77.21deg, #FDB765 47.6%, #FFE485 107%);
            }
            .cart-btn:nth-child(4){
                background: linear-gradient(77.21deg, #FF6D59 47.6%, #FFD584 107%);
            }
            
        }
        .schedule{
            margin-top: 128px;
            display: grid;
            grid-template-columns: 339px 1fr;
            grid-template-rows: 245px 272px;
            row-gap: 39px;
            column-gap: 39px;
            .available{
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
                border-radius: 22px;
                width: 100%;
                height: 100%;
                img{
                    display: block;
                    margin: 0 auto;
                    margin-top: 27px;                    
                }
                .title{
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 57px;
                    color: #2E2E2E;
                    text-align: center;             
                }
                .subtitle{
                    font-size: 16px;
                    line-height: 24px;
                    color: #2E2E2E;
                    text-align: center;
                }
                
            }
            .progres{
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
                border-radius: 22px;
                padding: 30px;
                .title{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #2E2E2E;
                    margin-bottom: 29px;
                }
                .items{
                    width: 283px;
                    margin-top: 32px;
                    display: flex;
                    justify-content: space-between;
                        .item-tile{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 18px;
                            color: #707070;
                            display: flex;
                            align-items: center;
                            span{      
                                display:inline-block;               
                                width: 12px;
                                height: 12px;
                                background: linear-gradient(90deg, #F7943A 32.13%, rgba(255, 209, 48, 0.74) 104.8%);
                                border-radius: 24px;
                                margin-right: 6px;      
                            }
                           .second{
                            background: linear-gradient(90deg, #42AE94 36.76%, rgba(89, 216, 243, 0.74) 104.8%);
                           }
                           .third{
                            background: linear-gradient(90deg, #9658C7 32.13%, rgba(237, 60, 177, 0.74) 104.8%);
                           }

                        }
                        
                    .subtitle{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #262626;
                        margin-top: 4px;
                        margin-left: 18px;
                    }                    
                }
            }
        }
    }
}


.wrapper{
    footer{
        margin-top: 87px;
        margin-left: 41px;
        padding-bottom: 45px;
        .wrap{
            width: 161px;
            .name-admin{
                font-weight: 600;
                font-size: 17px;
                line-height: 153%;
                color: #969BA0;
            }
            .rights{
                font-weight: normal;
                font-size: 12px;
                line-height: 217%;
                color: #969BA0;
            }
            .subtitle{
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #969BA0;
            }
        }

    }
}



    