body {
  font-family: 'Poppins';
}

/* header*/
.wrapper {
  width: 1920px;
  margin: 0 auto;
  max-width: 1920px;
  background: #FCFCFC;
}

.wrapper .header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 1820px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header .logo {
  margin-left: -4px;
}

.wrapper .header nav ul {
  width: 1465px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header nav ul .item-first {
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0F0F0F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header nav ul .holder-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 56px 129px;
      grid-template-columns: 56px 129px;
  -ms-grid-rows: 28px  28px;
      grid-template-rows: 28px  28px;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.wrapper .header nav ul .holder-items .holder {
  width: 56px;
  height: 56px;
  background: #C4C4C4;
  border-radius: 22px;
}

.wrapper .header nav ul .holder-items .user-name {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #2E2E2E;
  margin-top: 3px;
}

.wrapper .header nav ul .holder-items .user-position {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #2E2E2E;
  text-decoration: none;
  margin-top: 4px;
}

/*section main*/
.main {
  width: 1820px;
  margin: 0 auto;
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .left-items {
  position: relative;
  margin-left: -9px;
}

.main .left-items .btn-left {
  background: linear-gradient(83.26deg, #1362FC 17.33%, #13A8FC 98.93%);
  border-radius: 22px;
  width: 263px;
  height: 68px;
  border: none;
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .left-items .btn-left span {
  padding-right: 42px;
}

.main .left-items .shodow {
  width: 179px;
  height: 64px;
  background: linear-gradient(83.26deg, #1362FC 17.33%, #13A8FC 98.93%);
  -webkit-box-shadow: 0px 12px 28px rgba(19, 98, 252, 0.37);
          box-shadow: 0px 12px 28px rgba(19, 98, 252, 0.37);
  border-radius: 22px;
  position: absolute;
  top: 0;
  left: calc(50% - 88px);
  z-index: 0;
}

.main .left-items .reservas {
  margin-top: 16px;
  padding: 26px 72px 26px 37px;
}

.main .left-items .reservas img {
  padding-right: 41px;
}

.main .left-items .reservas a {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 500;
  color: #BFBFBF;
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .left-items .btn-left:hover {
  color: #000;
}

.main .left-items a:hover {
  color: #000;
}

.main .righ-items {
  width: 1745px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .righ-items .btn-rigth {
  width: 1473px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .righ-items .btn-rigth .cart-btn {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border: none;
  border-radius: 22px;
  padding: 38px 36px 36px 36px;
}

.main .righ-items .btn-rigth .cart-btn .titile {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  text-align: left;
}

.main .righ-items .btn-rigth .cart-btn img {
  margin-left: calc(255px - 36px);
  margin-top: -39px;
}

.main .righ-items .btn-rigth .cart-btn .subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  margin-top: -8px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .righ-items .btn-rigth .cart-btn:hover .subtitle {
  color: #000;
}

.main .righ-items .btn-rigth .cart-btn:nth-child(1) {
  background: linear-gradient(77.21deg, #59BCFF 47.6%, #59D7FF 107%);
}

.main .righ-items .btn-rigth .cart-btn:nth-child(2) {
  background: linear-gradient(77.21deg, #4AD994 47.6%, #57F998 107%);
}

.main .righ-items .btn-rigth .cart-btn:nth-child(3) {
  background: linear-gradient(77.21deg, #FDB765 47.6%, #FFE485 107%);
}

.main .righ-items .btn-rigth .cart-btn:nth-child(4) {
  background: linear-gradient(77.21deg, #FF6D59 47.6%, #FFD584 107%);
}

.main .righ-items .schedule {
  margin-top: 128px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 339px 1fr;
      grid-template-columns: 339px 1fr;
  -ms-grid-rows: 245px 272px;
      grid-template-rows: 245px 272px;
  row-gap: 39px;
  -webkit-column-gap: 39px;
          column-gap: 39px;
}

.main .righ-items .schedule .available {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  width: 100%;
  height: 100%;
}

.main .righ-items .schedule .available img {
  display: block;
  margin: 0 auto;
  margin-top: 27px;
}

.main .righ-items .schedule .available .title {
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #2E2E2E;
  text-align: center;
}

.main .righ-items .schedule .available .subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #2E2E2E;
  text-align: center;
}

.main .righ-items .schedule .progres {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  padding: 30px;
}

.main .righ-items .schedule .progres .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2E2E2E;
  margin-bottom: 29px;
}

.main .righ-items .schedule .progres .items {
  width: 283px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .righ-items .schedule .progres .items .item-tile {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .righ-items .schedule .progres .items .item-tile span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, right top, color-stop(32.13%, #F7943A), color-stop(104.8%, rgba(255, 209, 48, 0.74)));
  background: linear-gradient(90deg, #F7943A 32.13%, rgba(255, 209, 48, 0.74) 104.8%);
  border-radius: 24px;
  margin-right: 6px;
}

.main .righ-items .schedule .progres .items .item-tile .second {
  background: -webkit-gradient(linear, left top, right top, color-stop(36.76%, #42AE94), color-stop(104.8%, rgba(89, 216, 243, 0.74)));
  background: linear-gradient(90deg, #42AE94 36.76%, rgba(89, 216, 243, 0.74) 104.8%);
}

.main .righ-items .schedule .progres .items .item-tile .third {
  background: -webkit-gradient(linear, left top, right top, color-stop(32.13%, #9658C7), color-stop(104.8%, rgba(237, 60, 177, 0.74)));
  background: linear-gradient(90deg, #9658C7 32.13%, rgba(237, 60, 177, 0.74) 104.8%);
}

.main .righ-items .schedule .progres .items .subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin-top: 4px;
  margin-left: 18px;
}

.wrapper footer {
  margin-top: 87px;
  margin-left: 41px;
  padding-bottom: 45px;
}

.wrapper footer .wrap {
  width: 161px;
}

.wrapper footer .wrap .name-admin {
  font-weight: 600;
  font-size: 17px;
  line-height: 153%;
  color: #969BA0;
}

.wrapper footer .wrap .rights {
  font-weight: normal;
  font-size: 12px;
  line-height: 217%;
  color: #969BA0;
}

.wrapper footer .wrap .subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #969BA0;
}
/*# sourceMappingURL=main.css.map */